{{>partials/header}}

    <h3>Olá, {{name}} {{lastName}}!</h3>
    {{#podeBeber}}
        Você pode beber na festa de hoje, por ser maior de idade!
    {{/podeBeber}}

    <ul>
        {{#linguagens}}
            <li>{{.}}</li>
        {{/linguagens}}
        {{^linguagens}}
            Não há linguagens para ser exibidas.
        {{/linguagens}}
    </ul>

    <form method="GET">
        <input type="text" name="nome" placeholder="Digite seu nome" >
        <input type="email" name="email" placeholder="Digite seu e-mail" >
        <input type="submit" value="Enviar">
    </form>    

    {{#nome}}
        Olá, {{nome}}, tudo bem?
    {{/nome}}
    <hr/>

    {{#email}}
        Verifiquei aqui e seu e-mail é esse aqui: {{email}}. Está correto? 
    {{/email}}
{{>partials/footer}}
