{{>partials/header}}


    Opa, {{ user.name }}, você já tem {{ user.idade }} anos?
    {{#showOld}}
        Como vai a vida? 
    {{/showOld}}

    <hr/>

    <h2>Produtos</h2>

    <ul>
        {{#products}}
            {{>partials/productItem}}
        {{/products}}
    </ul>

    <hr/>

    <ul>
        {{#frasesDoDia}}
            <li>{{.}}</li>
        {{/frasesDoDia}}
    </ul>
    
{{>partials/footer}}
