{{>partials/header}}


    Opa, {{ user.name }}, você já tem {{ user.idade }} anos?
    {{#showOld}}
        Como vai a vida? 
    {{/showOld}}

    <hr/>

    <h2>Produtos</h2>

    <ul>
        {{#products}}
            {{>partials/productItem}}
        {{/products}}
    </ul>

    <h2>Produtos a partir de 10R$</h2>
    <ul>
        {{#expensiveProducts}}
            {{>partials/productItem}}
        {{/expensiveProducts}}
    </ul>

    <hr/>

    <ul>
        {{#frasesDoDia}}
            <li>{{.}}</li>
        {{/frasesDoDia}}
    </ul>

    <hr/>
    <form method="GET">
        <input type="text" name="car" placeholder="Digite o nome do seu carro... "><br>
        <input type="number" name="year" placeholder="Digite o ano de seu carro..."><br>
        <input type="text" name="fuel" placeholder="Digite o combustível"><br>
        <input type="submit" value="Enviar" />
    </form>
    
    {{#car}}
        Ola! Verifiquei no sistema e os valores digitados foram os seguintes: Carro: {{car}}, Ano: {{year}}, Combustível: {{fuel}}
    {{/car}}
{{>partials/footer}}
