{{>partials/header}}

    {{#isVegan}}
        Você irá comer um hamburguer vegetariano, correto?
    {{/isVegan}}

    <ul>
        {{#materiaisEscritorio}}
            <li>{{nome}} - R$ {{preco}}</li>
        {{/materiaisEscritorio}}
        {{^materiaisEscritorio}}
            Não há materiais escolares disponíveis.
        {{/materiaisEscritorio}}
    </ul>
    
{{>partials/footer}}
