<html>
<head>
    <title>Página sobre</title>
</head>
<body>
    <h3>{{texto1}}</h3>
    <h4>{{texto2}}</h4>
    {{#isVegan}}
        Você irá comer um hamburguer vegetariano, correto?
    {{/isVegan}}

    <ul>
        {{#materiaisEscritorio}}
            <li>{{nome}} - R$ {{preco}}</li>
        {{/materiaisEscritorio}}
        {{^materiaisEscritorio}}
            Não há materiais escolares disponíveis.
        {{/materiaisEscritorio}}
    </ul>
</body>
</html>